{% extends 'base.html.twig' %}

{% block body %}
    <h3>Add a feed</h3>
    {{ form(form) }}
    <h3>My feeds</h3>
    {% if feeds|length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Link</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for feed in feeds %}
                    <tr>
                        <td>{{ feed.name }}</td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control" value="{{ url('feed_live', {slug: feed.slug}) }}?loc=%loc%" />
                                <div class="input-group-append">
                                    <a href="#!" class="btn btn-primary copy-link">Copy link</a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a href="{{ path('feed_show', {slug: feed.slug}) }}" class="btn btn-primary">See</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        No feeds yet
    {% endif %}
{% endblock body %}

{% block javascripts %}
    <script>
        $(function () {
            $('.copy-link').on('click', function (event) {
                let targetButton = $(event.target);
                let inputElement = targetButton.parents('.input-group').find('input');
                inputElement.trigger('focus');
                inputElement.trigger('select');
                document.execCommand('copy');
                targetButton.removeClass('btn-primary').addClass('btn-success');
                targetButton.text('Copied!');
            });
        });
    </script>
{% endblock javascripts %}
